[package]
name = "web30"
version = "0.15.2"
authors = ["Michal Papierski", "Jehan Tremback", "Justin Kilpatrick"]
description = "Async endian safe web3 library"
license = "Apache-2.0"
edition = "2018"

[dependencies]
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
clarity = "^0.4.12"
num256 = "0.3"
futures = "0.3"
awc = {version = "3.0.0-beta.7", default-features = false, features=["openssl", "compress-gzip", "compress-zstd"]}
tokio = {version = "1.4", features=["macros", "time"]}
lazy_static = "1.4"
log = "0.4"
num = "0.4"

[dev-dependencies]
actix = "0.12"
env_logger = "0.9"

